WANDB_API_KEY=
WANDB_ENTITY=
WANDB_PROJECT=two-model-explore
WANDB_GROUP=
WANDB_NOTES=

HF_ACCESS_TOKEN=
HF_TOKEN=

HF_HOME=.hf
HF_HUB_CACHE=.hf/hub
HF_DATASETS_CACHE=.hf/datasets
TRANSFORMERS_CACHE=.hf/transformers

PJRT_DEVICE=TPU
TPU_ACCELERATOR_TYPE=v4-8
TPU_SKIP_MDS_QUERY=1
TPU_WORKER_ID=0
TPU_WORKER_HOSTNAMES=localhost
